<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wolaidai.ws.jrocket2.persistence.mapper.BankCardMapper">
	<cache />

	<select id="getBankCardsByUser" resultType="BankCard">
		SELECT
		id,
		account_number,
		bank_id,
		city,
		user_id,
		province,
		state,
		bank_cards.created_at,
		bank_cards.updated_at
		FROM bank_cards
		WHERE
		user_id = #{value}
		AND deleted_at IS NULL
	</select>

	<select id="getBankCardByUserAndId" resultType="BankCard">
		SELECT
		id,
		account_number
		FROM bank_cards
		WHERE id = #{param1}
		AND user_id =
		#{param2}
		AND deleted_at IS NULL
	</select>

	<select id="getCntByUserAndAcctNumber" resultType="int">
		SELECT
		count(1)
		FROM bank_cards
		WHERE user_id = #{param1}
		AND account_number =
		#{param2}
		AND deleted_at IS NULL
	</select>

	<select id="getByUserAndAcctNumber" parameterType="BankCard"
		resultType="BankCard">
		SELECT
		id,
		account_number,
		bank_id,
		city,
		user_id,
		province,
		state,
		bank_cards.created_at,
		bank_cards.updated_at
		FROM bank_cards
		WHERE
		user_id = #{param1}
		AND account_number = #{param2}
		AND deleted_at IS
		NULL
	</select>

	<update id="softDeleteById">
		UPDATE bank_cards SET deleted_at = current_timestamp
		WHERE id = #{param1} AND user_id = #{param2} AND state NOT IN ('pass',
		'wait')
	</update>

	<update id="updateState" parameterType="BankCard">
		UPDATE bank_cards SET
		state = #{state}
		WHERE id = #{id}
	</update>

	<insert id="insert" parameterType="BankCard" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO bank_cards
		(user_id, bank_id, account_number,
		province,
		city, created_at)
		VALUES
		(#{user_id}, #{bank_id},
		#{account_number},
		#{province}, #{city}, current_timestamp)
	</insert>
</mapper>
