<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2010-2013 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wolaidai.ws.jrocket2.persistence.mapper.CouponsUserMapper">
	<cache />

	<select id="getCouponsUserByUser" resultMap="couponsUserWithCoupon">
		SELECT coupons_users.id
		AS coupons_users_id,
		coupons.id AS coupons_id,
		coupons.description AS
		coupons_description,
		coupons.category AS coupons_category,
		coupons.amount AS coupons_amount,
		coupons_users.redeemed AS coupons_users_redeemed,
		coupons_users.created_at AS coupons_users_created_at
		FROM
		coupons_users, coupons
		WHERE
		coupons_users.coupon_id = coupons.id
		AND
		coupons_users.user_id = #{value}
	</select>
	<resultMap type="CouponsUser" id="couponsUserWithCoupon">
		<constructor>
			<idArg column="coupons_users_id" javaType="int" />
		</constructor>
		<result property="redeemed" column="coupons_users_redeemed" />
		<result property="created_at" column="coupons_users_created_at" />
		<collection property="coupon" ofType="Coupon">
			<constructor>
				<idArg column="coupons_id" javaType="int" />
			</constructor>
			<result property="description" column="coupons_description" />
			<result property="category" column="coupons_category" />
			<result property="amount" column="coupons_amount" />
		</collection>
	</resultMap>
	
	<select id="getCouponsByCampaign" resultType="Coupon">
		SELECT coupons.*
		FROM coupons WHERE (current_timestamp BETWEEN begin_at
		AND end_at) AND
		coupons.campaign = #{value};
	</select>
</mapper>
