<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2010-2013 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wolaidai.ws.jrocket2.persistence.mapper.UserMapper">
	<cache />

	<select id="getUserCntByMobileAndToken" resultType="int">
		SELECT
		count(id)
		FROM users
		WHERE users.mobile = #{param1}
		AND
		users.authentication_token = #{param2}
	</select>

	<select id="getUserIdByMobileAndToken" resultType="int">
		SELECT
		id
		FROM
		users
		WHERE users.mobile = #{param1}
		AND users.authentication_token =
		#{param2}
	</select>

	<select id="getEncryptedSecurityCodeByUser" resultType="String">
		SELECT
		encrypted_security_code
		FROM
		users
		WHERE users.id = #{value}
	</select>

	<select id="getByIdWithCnid" resultMap="userWithCnid">
		SELECT
		users.id AS
		users_id,
		profiles.name AS name,
		mobile,
		profiles.cnid AS cnid
		FROM
		users LEFT OUTER JOIN profiles
		ON users.id = profiles.borrower_id
		WHERE
		users.id = #{value}
	</select>
	<resultMap type="User" id="userWithCnid">
		<constructor>
			<idArg column="users_id" javaType="int" />
		</constructor>
		<result property="mobile" column="mobile" />
		<association property="profile" javaType="Profile">
			<result property="cnid" column="cnid" />
			<result property="name" column="name" />
		</association>
	</resultMap>
	
	<select id="getInviteesByUser" resultType="User">
		SELECT mobile FROM users WHERE users.referee_id = #{value};
	</select>
</mapper>
