<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2010-2013 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.welab.finance.core.model.mapper.FinanceUserMapper">
	<cache />

	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into Users (
		name, roleid, email, encryptedpassword, createdat, updatedat,
		signincount,
		currentsigninat, currentsigninip, locked, failedattempts,
		lockedat)
		values
		(#{ name},#{ roleid},#{ email},#{ encryptedpassword},#{
		createdat}, #{updatedat}, #{signincount},#{currentsigninat},#{currentsigninip},#{
		locked},#{ failedattempts},#{lockedat})

	</insert>
	
	<select id="getAllUsers" resultMap="userResultMap">
	
		select * from Users
	
	</select>

	<resultMap id="userResultMap" type="User">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="email" column="email" />
	</resultMap>
	
	<select id="getUserById"  resultType="User">
		
		select * from Users where id = ${value}
		
	</select>
	
	<update id="updateUserById" parameterType="User">
	
		update Users set 
			roleid = #{roleid},
			email = #{email},
			updatedat = #{updatedat},
			signincount = #{signincount},
			currentsigninat = #{currentsigninat},
			currentsigninip = #{currentsigninip},
			mobile = #{mobile}
		where id = #{id}
			
	</update>
	
	<delete id="removeUserById">
		
		delete from Users where id = #{value}
		
	</delete>
	


</mapper>
